# Dependencies
node_modules
.pnpm-store

# Production build
dist
dist-ssr
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Loose media files on Desktop
*.png
*.jpg
*.jpeg
*.pdf

# Editor / System
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
